//----------------------------------------------------------------------
//	SETTINGS
//	Global
//----------------------------------------------------------------------

//	Typography
//-----------------------------------

//	Type baseline
$doc-font-size: 16; /* 16px */
$doc-line-height: 1.25; /* 20px */




//	Responsive
//-----------------------------------

//	Breakpoints (in px)
$lap: 600;
$desk: 900;
