//----------------------------------------------------------------------
//	COMPONENTS
//	Grid
//----------------------------------------------------------------------

//	Wrapper
//-----------------------------------

.wrapper {
	padding: 0 1.25em; /* 0 20px */
	@include mq($lap) {
		max-width: 64em; /* 1024px */
		padding: 0 1.25em; /* 0 20px */
	}
}


//	Lap
//-----------------------------------

@include mq($lap) {

	//	Rows
	.row {
		margin-left: -1.25rem; /* -20px */
	}


	//	Columns
	[class^="lap-"],
	[class^="desk-"] {
		padding-left: 1.25em; /* 20px */
	}
}
