//----------------------------------------------------------------------
//	COMPONENTS
//	Navigation Primary
//----------------------------------------------------------------------

//  Site containers
//-----------------------------------

.container-outer {
	overflow: hidden;
	width: 100%;
}

.container-wrap {
	left: 0;
	position: relative;
	transition: left $duration*2 $easing;
}

.nav-is-visible .container-wrap {
	left: 100%;

	@include mq($lap) {
		left: 20em; /* 320px */
	}
}




//  Nav container
//-----------------------------------

.container-nav-primary {
	background-color: $highlight;
	height: 100%;
	left: -100%;
	overflow: auto;
	position: fixed;
	top: 0;
	transition: left $duration*2 $easing;
	width: 100%;

	@include mq($lap) {
		left: -20em; /* 320px */
		width: 20em; /* 320px */
	}
}

.nav-is-visible .container-nav-primary {
	left: 0;
}

.container-nav-primary__inner {
	max-width: 20em; /* 320px */
	padding: 5em 1.25em 1.25em; /* 80px 20px 20px */

	@include mq($lap) {
		padding-top: 2.188em; /* 35px */
	}
}

/*.csstransforms3d.nav-is-visible .container-wrap {
	left: auto;
	transform: translateX(100%);
	
	@include mq($lap) {
		transform: translateX(20em);
	}
}*/




//  Nav toggles
//-----------------------------------
 
.btn-nav-toggle {
	background: #fff;
	border: none;
	cursor: pointer;
	font-size: 1em;
	height: 3.125em; /* 50px */
	outline: none;
	padding: 0;
	width: 3.125em; /* 50px */
}




//  Nav open/close
//-----------------------------------

.btn-nav-open,
.btn-nav-close {
	@extend %text-hidden;
	left: 0;
	top: 0;
	position: absolute;

	@include mq($lap) {
		left: auto;
		right: 0;
	}
}

.btn-nav-close {
	@include mq($lap - 1, max) {
		left: -100%;
	}
}

.btn-nav-close,
.nav-is-visible .btn-nav-open {
	display: none;
}

.btn-nav-open,
.nav-is-visible .btn-nav-close {
	display: block;
}




//  Nav prev/next
//-----------------------------------

.btn-nav-prev,
.btn-nav-next {
	color: #fff;
	display: block;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color $duration $easing, width $duration $easing;

	@include mq($lap) {
		left: 0;
		right: auto;
		top: 25em; /* 400px */
	}
}

.btn-nav-prev {
	right: 3.125em; /* 50px */

	@include mq($lap) {
		left: 0;
		margin-top: -3.125em; /* 50px */
		padding-left: 3.125em; /* 50px */
		right: auto;
	}
}

.btn-nav-next {
	@include mq($lap) {
		padding-right: 3.125em; /* 50px */
	}
}

.btn-nav-prev:hover,
.btn-nav-prev:focus,
.btn-nav-next:hover,
.btn-nav-next:focus {
	background-color: $contrast;
	
	@include mq($lap) {
		width: auto;
	}
}

.btn-nav-prev span,
.btn-nav-next span {
	display: none;
	width: 0;

	@include mq($lap) {
		display: block;
		font-size: 1.125em; /* 18px */
		line-height: 2.778; /* 50px from 18 */
		text-transform: lowercase;
		white-space: nowrap;
		width: auto;
	}
}

.btn-nav-prev span {
	@include mq($lap) {
		padding-right: 1em; /* 18px */
	}
}

.btn-nav-next span {
	@include mq($lap) {
		padding-left: 1em; /* 18px */
	}
}




//  Nav primary
//-----------------------------------

.nav-primary {
	padding-top: 0.625em; /* 10px */
}

.nav-primary__list-item {
	margin-bottom: 0.625em; /* 10px */
}

.nav-primary__link,
.nav-primary__child-link {
	font-size: 1.125em; /* 18px */
	line-height: 1.222; /* 22px from 18 */
}

.nav-primary__link {
	color: $dark-grey;
}

.nav-primary__child-list {
	margin: 0.625em 0 1.25em; /* 10px 0 20px */
}

.nav-primary__child-list-item {
	margin-bottom: 0.625em; /* 10px */
}

.nav-primary__child-link {
	color: #fff;
	font-style: italic;
}