//----------------------------------------------------------------------
//	COMPONENTS
//	Header
//----------------------------------------------------------------------

.site-header {
	background-color: $light-grey;
	height: 3.125em; /* 50px */
	position: relative;

	@include mq($lap) {
		height: 100%;
		position: fixed;
		width: 3.125em; /* 50px */
	}
}