//----------------------------------------------------------------------
//	COMPONENTS
//	Header
//----------------------------------------------------------------------

.site-header {
	background-color: #eee;
	height: 44px;

	@include mq($lap) {
		height: 100%;
		position: fixed;
		width: 44px;
	}
}