//----------------------------------------------------------------------
//	COMPONENTS
//	Blockquotes
//----------------------------------------------------------------------

.blockquote {
	padding: 0.75em 0; /* 12px 0 */
}

cite {
	font-style: normal;
}

.blockquote .text-small {
	white-space: nowrap;
}