//----------------------------------------------------------------------
//	COMPONENTS
//	Layout
//----------------------------------------------------------------------

//	Main content
//-----------------------------------

.main-content {
	background-color: #fff;
	padding-bottom: 3.438em; /* 55px */
	padding-top: 3.125em; /* 50px */

	@include mq($lap) {
		max-width: 106.25em; /* 1700px */
		padding-left: 3.125em; /* 50px */
		padding-top: 0;
	}
}

.section--text {
	padding-bottom: 3.438em; /* 55px */
	padding-top: 3.438em; /* 55px */
}