//----------------------------------------------------------------------
//	COMPONENTS
//	Footer
//----------------------------------------------------------------------

.site-footer {
	background-color: $contrast;
	padding-bottom: 3.438em; /* 55px */
	padding-top: 3.438em; /* 55px */
	position: relative;
	z-index: 2;
}