//----------------------------------------------------------------------
//	SETTINGS
//	Global
//----------------------------------------------------------------------

//	Typography
//-----------------------------------

//	Font stacks
$base-font: 'Vollkorn', Georgia, Times, serif;




//	Animation
//-----------------------------------

//	Transition
$duration: 150ms;
$easing: ease-out;




//	Colors
//-----------------------------------

$dark-grey: #111;
$mid-grey: #999;
$light-grey: #e9e9e9;
$highlight: #fb341a;
$contrast: #2f459b;




//	Responsive
//-----------------------------------

//	Breakpoints (in px)
$lap: 700;
$desk: 900;
