//----------------------------------------------------------------------
//	SETTINGS
//	Global
//----------------------------------------------------------------------

//	Typography
//-----------------------------------

//	Font stacks
$base-font: Arial, Helvetica, sans-serif;




//	Animation
//-----------------------------------

//	Transition
$duration: 150ms;
$easing: ease-out;




//	Colors
//-----------------------------------

$dark-grey: #333;
$mid-grey: #999;
$light-grey: #b3b3b3;
$magenta: #ec008c;
$green: #6c6;




//	Responsive
//-----------------------------------

//	Breakpoints (in px)
$lap: 600;
$desk: 900;
