//----------------------------------------------------------------------
//	UTILITY
//	Color
//----------------------------------------------------------------------

.text-reverse,
.text-reverse a {
	color: #fff;
}

.text-highlight {
	color: $highlight;
}

.text-contrast {
	color: $contrast;
}